[Unit]
Requires=network.target

[Service]
Type=simple
User=yahtzeebot
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
Environment=WEB_PORT=5001
# change these three addresses
Environment=BOT_TRON_ADDRESS=put_your_bots_seedit_address_base58check_encoded_here
Environment=REWARDER_PRIVKEY=put_your_base16_encoded_privkey_here
Environment=OWNERS_ADDRESS=... # where to send $HOUSE_PCT of the pool
Environment=WINNING_PLAYER_PCT=0.8
Environment=HOUSE_PCT=0.1
Environment=ROLLS_TO_TRX_RATIO="3/100"
Environment=REWARD_FOR_FOUR_OF_KIND=400
Environment=REWARD_FOR_LARGE_STRAIGHT=200
Environment=ADMIN_IDS=...
Environment=PUBLIC_IP=...
# https://github.com/tronprotocol/Documentation/blob/master/TRX/Official_Public_Node.md
Environment=GRPC_NODES=35.180.51.163:50051,34.253.187.192:50051,47.74.33.41:50051
Environment=DB_PATH=/home/yahtzeebot/yahtzeebot/db.sqlite
Environment=TDLIB_PATH=/home/yahtzeebot/yahtzeebot/priv/tdlib-json-cli
# make sure different session use different dbs
Environment=TDLIB_DB_DIR=/tmp/tdlib
# change TG_* ones
Environment=TG_BOT_TOKEN=get_this_from_botfather
Environment=TG_API_ID=asdfasdf # get it from my.telegram.org/apps
Environment=TG_API_HASH=asdf # get it from my.telegram.org/apps
Environment=TG_PHONE_NUMBER=asdf # get it from my.telegram.org/apps
WorkingDirectory=/home/yahtzeebot/yahtzeebot
ExecStart=/home/yahtzeebot/yahtzeebot/bin/yahtzeebot foreground
RemainAfterExit=no
TimeoutStopSec=60
KillMode=process

[Install]
WantedBy=multi-user.target
